<div class=" col-sm-12 w-100 card-deck">
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/ridealong.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ride Along</h5>
        <p class="card-text">Comedy</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>

    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/godfather.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Godfather</h5>
        <p class="card-text">Drama</p>
      </div>

    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/lotr.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lord Of The Rings</h5>
        <p class="card-text">Fantasy</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../../assets/images/hobbit.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">The Hobbit</h5>
        <p class="card-text">Fantasy</p>
      </div>
    </div>
  </div>&nbsp;

  <div class="col-sm-12 w-100 card-deck">
      <div class="card">
          <img class="card-img-top" src="../../../assets/images/interstellar.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Interstellar</h5>
            <p class="card-text">Sci-Fi</p>
          </div>
        </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/je.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Johnny English</h5>
          <p class="card-text">Comedy</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/transporter.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Transporter</h5>
          <p class="card-text">Action</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../../assets/images/Creed.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Creed</h5>
          <p class="card-text">Action</p>
        </div>
      </div>
    </div>
