<div class="row">
    <div class="col-sm-12 mb-3">
        <button class="btn add btn-primary" (click)="onAdd()"><i class="fa fa-plus"></i></button>
    </div>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">address</th>
        <th scope="col">phoneNumber</th>
        <th scope="col">url</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td>{{ company.name}}</td>
        <td>{{ company.address }}</td>
        <td>{{ company.phoneNumber }}</td>
        <td>{{ company.url }}</td>
        <td><button class="btn bg-secondary">
          <i class="fa fa-edit" (click)="onEdit(company.id)"></i>
        </button>

        <button (click)="onDelete(company.id)" class="btn ml-3 bg-danger">
            <i class="fa fa-trash"></i>
        </button>
        </td>
      </tr>
    </tbody>
  </table>
 </div>
