<div>
    <div class="row">
        <div class="col-sm-12 mb-3">
            <button class="btn add btn-primary" (click)="onAdd()"><i class="fa fa-plus"></i></button>
        </div>
    </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">email</th>
        <th scope="col">card</th>
        <th scope="col">firstName</th>
        <th scope="col">lastName</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.email}}</td>
        <td>{{ user.card }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td><button class="btn bg-secondary"><i class="fa fa-edit" (click)="onEdit(user.id)"></i></button>

          <button (click)="onDelete(user.id)" class="btn ml-3 bg-danger"><i class="fa fa-trash"></i></button></td>
    </tbody>
  </table>
 </div>
