<div class="row">
  <div class="col-sm-12 mb-3">
    <button class="btn add btn-primary" (click)="onAdd()"><i class="fa fa-plus"></i></button>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>name</th>
          <th>Release Date</th>
          <th>price</th>
          <th>producent</th>
          <th>company</th>
          <th>movieType</th>
          <th>description</th>
          <th colspan="2">action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{ movie.name}}</td>
          <td>{{ movie.releaseDate | date: 'dd.MM.yyyy.' }}</td>
          <td>{{ movie.price | currency}}</td>
          <td>{{ movie.producent }}</td>
          <td>{{ movie.company.name }}</td>
          <td>{{ movie.movieType.genre }}</td>
          <td class="text-truncate" style="max-width: 150px;">
            {{ movie.description }}
          </td>
          <td>
            <button (click)="onEdit(movie.id)" class="btn bg-secondary"><i class="fa fa-edit"></i></button>
          </td>
          <td>
            <button (click)="onDelete(movie.id)" class="btn ml-3 bg-danger"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
