
<div>
    <div [hidden]="errorMessage.length == 0">
      {{errorMessage}}
    </div>
    <form (submit)="onSubmit()" #movietypeForm="ngForm">
      <input title="id" name="id" type="hidden" [(ngModel)]="movietype.id" />
      <div class="form-group">
        <label for="Genre">
          Genre
        </label>
        <input required type="text" name="name" [(ngModel)]="movietype.genre" class="form-control" id="name">
      </div>
      <button (click)="goBack()" class="btn btn-outline-danger float-left">Cancel</button>&nbsp;&nbsp;
      <button [disabled]="!movietypeForm.form.valid" type="submit" class="btn btn-primary">
        Submit
      </button>
    </form>
  </div>
